video {
  background-color: black;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

h1 {
  color: #235784;
  font-size: 100px;
  font-weight: bolder;
  margin: 0 0 20px 0;
  text-align: center;
  text-shadow: 0 0 1em #f7aa00, 0 0 0.2em #f7aa00;
}

select {
  background-color: #40a8c4;
  border-radius: 4px;
  border: 2px solid #f7aa00;
  display: block;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 0;
  width: 96.5%;
}

optgroup {
  color: #f7aa00;
}

.container {
  background-color: #bcdbdf;
  border-radius: 10px;
  box-shadow: 0 0 20px #f7aa00, 0 0 20px #f7aa00;
  font-family: "Iceland", serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  margin: 40px auto;
  max-width: 650px;
  opacity: 95%;
  padding: 20px;
  align-items: center;
}

.local-time-box {
  background-color: #f7aa00;
  border-radius: 10px;
  color: #235784;
  text-align: center;
  padding: 0 10px;
  max-height: 300px;
  margin: 14px 0 0 10px;
}

.local {
  color: #235784;
  display: block;
  padding: 0;
  margin: 15px 0;
  text-align: center;
  font-size: 35px;
}

/* Clock */
.clock {
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(64, 168, 196, 1) 0%,
    rgba(35, 87, 132, 1) 100%
  );
  border-radius: 50%;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 0 auto 15px auto;
  position: relative;
  text-align: center;
  width: 200px;
  box-shadow: 0 0 20px #bcdbdf, 0 0 20px #bcdbdf;
}

.number {
  font-size: 17px;
  inset: 5px;
  position: absolute;
  text-align: center;
  color: #f7aa00;
  transform: rotate(calc(30deg * var(--n)));
}

.number b {
  display: inline-block;
  transform: rotate(calc(-30deg * var(--n)));
}

.center-dot {
  background-color: #bcdbdf;
  border-radius: 50%;
  height: 7px;
  position: absolute;
  width: 7px;
}

.hour-hand,
.minute-hand,
.second-hand {
  --rotate: 0;
  bottom: 50%;
  left: 50%;
  position: absolute;
  transform-origin: bottom;
  transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
}

.hour-hand {
  background-color: #235784;
  height: 55px;
  width: 4px;
}
.minute-hand {
  background-color: #bcdbdf;
  height: 80px;
  width: 2px;
}
.second-hand {
  background-color: #f7aa00;
  height: 90px;
  width: 1px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-height: 420px;
}

.city-container {
  background-color: #f7aa00;
  border-radius: 10px;
  color: #235784;
  margin: 14px 14px 0 0;
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.city {
  font-size: 30px;
  margin: 0;
  padding: 15px 0;
}

.time-zone {
  text-align: left;
}

.date,
.time {
  text-align: right;
}
.date {
  font-size: 20px;
  opacity: 0.7;
  padding-bottom: 10px;
}

/* Time */
.time,
.local-time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

button {
  display: block;
  font-size: 20px;
  margin: 75px auto;
  padding: 10px 20px;
  background-color: #40a8c4;
  box-shadow: 0 0 20px #f7aa00, 0 0 20px #f7aa00;
  border-radius: 8px;
  color: #235784;
  cursor: pointer;
  border: none;
  font-family: "Iceland";
  font-weight: bolder;
}
button:hover {
  background-color: #235784;
  color: #f7aa00;
  font-size: 22px;
}
/* Footer */

footer {
  color: #40a8c4;
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 15px;
}

a:-webkit-any-link {
  color: #40a8c4;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 0 0 1em #f7aa00, 0 0 0.2em #f7aa00;
}

a:-webkit-any-link:hover {
  color: #235784;
  font-size: 17px;
}
