video {
  background-color: black;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

h1 {
  color: #235784;
  font-size: 100px;
  font-weight: bolder;
  margin: 0 0 20px 0;
  text-align: center;
  text-shadow: 0 0 1em #f7aa00, 0 0 0.2em #f7aa00;
}

select {
  background-color: #40a8c4;
  border-radius: 4px;
  display: block;
  font-size: 18px;
  margin: 0 auto 20px auto;
  padding: 10px 0;
  width: 95%;
}

.container {
  background-color: #bcdbdf;
  border-radius: 10px;
  box-shadow: 0 0 20px #f7aa00, 0 0 20px #f7aa00;
  font-family: "Iceland", serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  margin: 40px auto;
  max-width: 800px;
  opacity: 95%;
  padding: 20px;
}

.flex-cities {
  display: flex;
  justify-content: space-between;
  margin: auto 0 15px 0;
  padding: 0;
}

.city-container {
  background-color: #f7aa00;
  border-radius: 10px;
  color: #235784;
  margin: 10px 10px;
  padding: 10px;
  text-align: center;
}

.city {
  font-size: 30px;
  margin: 0;
}

.flag {
  font-size: 75px;
  padding-top: 10px;
  text-shadow: 0 0 1em #235784, 0 0 0.2em #235784;
  line-height: 70px;
}
.date {
  font-size: 20px;
  opacity: 0.7;
  padding-bottom: 10px;
}

/* Clock */
.clock {
  align-items: center;
  background-color: #40a8c4;
  border-radius: 50%;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 150px;
}

.number {
  font-size: 20px;
  inset: 5px;
  position: absolute;
  text-align: center;
  transform: rotate(calc(30deg * var(--n)));
}

.number b {
  display: inline-block;
  transform: rotate(calc(-30deg * var(--n)));
}

.center-dot {
  background-color: #bcdbdf;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.hour-hand,
.minute-hand,
.second-hand {
  --rotate: 0;
  bottom: 50%;
  left: 50%;
  position: absolute;
  transform-origin: bottom;
  transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
}

.hour-hand {
  background-color: #235784;
  height: 50px;
  width: 4px;
}
.minute-hand {
  background-color: #bcdbdf;
  height: 65px;
  width: 2px;
}
.second-hand {
  background-color: #f7aa00;
  height: 75px;
  width: 1px;
}

/* Time */
.time {
  font-size: 35px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

/*Toggle*/
.time-format-toggle {
  background-color: #40a8c4;
  border-radius: 30px;
  border: 1px solid #f7aa00;
  box-shadow: inset 0px -1px 5px #f7aa00;
  color: #235784;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  line-height: 1.5;
  margin: 20px auto;
  padding: 2px 10px;
  position: relative;
  width: 150px;
}

.time-format-toggle input {
  appearance: none;
  border-radius: 30px;
  cursor: pointer;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}

.time-format-toggle input:focus-visible {
  margin: 0px auto;
}

.time-format-text {
  padding: 4px 0px;
  user-select: none;
}

.time-format-button {
  border-radius: 30px;
  box-shadow: inset 0px -1px 5px #f7aa00;
  height: 32px;
  pointer-events: none;
  position: relative;
  width: 55px;
}

.time-format-button::after {
  background-color: #f7aa00;
  border-radius: 30px;
  box-shadow: 0px 1px 2px #f7aa00;
  content: "";
  height: 25px;
  left: 4px;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  transition: 200ms cubic-bezier(0.96, -0.11, 0, 1.12);
  width: 25px;
}

.time-format-toggle input:checked ~ .time-format-button::after {
  transform: translate3d(22px, -50%, 0);
}

/* Footer */

footer {
  color: #40a8c4;
  text-align: center;
}

a:-webkit-any-link {
  color: #40a8c4;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 0 0 1em #f7aa00, 0 0 0.2em #f7aa00;
}

a:-webkit-any-link:hover {
  color: #235784;
  font-size: 23px;
}
