video {
  background-color: black;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

h1 {
  color: #235784;
  font-size: 100px;
  font-weight: bolder;
  margin: 0 0 20px 0;
  text-align: center;
  text-shadow: 0 0 1em #f7aa00, 0 0 0.2em #f7aa00;
}

select {
  background-color: #40a8c4;
  border-radius: 4px;
  display: block;
  font-size: 18px;
  margin: 0 auto 20px auto;
  padding: 10px 0;
  width: 95%;
}

.container {
  background-color: #bcdbdf;
  border-radius: 10px;
  box-shadow: 0 0 20px #f7aa00, 0 0 20px #f7aa00;
  font-family: "Iceland", serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  margin: 40px auto;
  max-width: 700px;
  opacity: 95%;
  padding: 20px;
}

.local-time {
  color: #235784;
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 0;
  text-align: center;
}

.local {
    color: #235784;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 35px;
}

.here {
  color: #235784;
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
}

.local-date {
    color: #235784;
    display: block;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
}

/* Clock */
.clock {
  align-items: center;
  background-color: #40a8c4;
  border-radius: 50%;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 200px;

}

.number {
  font-size: 17px;
  inset: 5px;
  position: absolute;
  text-align: center;
  transform: rotate(calc(30deg * var(--n)));
}

.number b {
  display: inline-block;
  transform: rotate(calc(-30deg * var(--n)));
}

.center-dot {
  background-color: #bcdbdf;
  border-radius: 50%;
  height: 7px;
  position: absolute;
  width: 7px;
}

.hour-hand,
.minute-hand,
.second-hand {
  --rotate: 0;
  bottom: 50%;
  left: 50%;
  position: absolute;
  transform-origin: bottom;
  transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
}

.hour-hand {
  background-color: #235784;
  height: 55px;
  width: 4px;
}
.minute-hand {
  background-color: #bcdbdf;
  height: 80px;
  width: 2px;
}
.second-hand {
  background-color: #f7aa00;
  height: 90px;
  width: 1px;
}



.flex-cities {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-height: 420px;
}

.city-list{
    height: fit-content;
}
.city-container {
  background-color: #f7aa00;
  border-radius: 10px;
  color: #235784;
  margin: 10px 10px;
  padding: 10px 10px 0 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 400px;
}


.city {
  font-size: 25px;
  margin: 0;
  padding: 20px 0;
}

.flag {
  font-size: 60px;
  padding-top: 10px;
  text-shadow: 0 0 1em #235784, 0 0 0.2em #235784;
  line-height: 70px;
}
.date, .local-date {
  font-size: 20px;
  opacity: 0.7;
  padding-bottom: 10px;
}

/* Time */
.time, .local-time {
  font-size: 35px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}


/* Footer */

footer {
  color: #40a8c4;
  text-align: center;
}

a:-webkit-any-link {
  color: #40a8c4;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 0 0 1em #f7aa00, 0 0 0.2em #f7aa00;
}

a:-webkit-any-link:hover {
  color: #235784;
  font-size: 23px;
}
